.page .page-content .page-header .page-title{
    margin-bottom: 10px;
    font-family: bold;
}
.page .page-content .page-header {
    padding: 0px !important;
    margin: 20px 0px !important;
}
.page .page-content .page-header .breadcrumb li{
    font-family: light;
}
.page .page-content .page-header .breadcrumb a , .breadcrumb>li+li:before{
    color: #2e3192;
}


.page .page-content .page-header .page-header-actions{
    position: relative;
    top: auto;
    right: auto;
    -webkit-transform: none;
    transform: none;
    float: right;
}
.panel-title{
    padding: 30px;
}
.secbtn-header-actions{
    padding: 20px ;
    float: right;
        position: relative;
    top: auto;
    right: auto;
    transform: none;
}
.page .page-content .btn-sm , 
.page .page-content .btn-sm:active ,
.page .page-content .btn-sm:focus,
.page .page-content .btn-default , 
.page .page-content .btn-default:active ,
.page .page-content .btn-default:focus
{
    padding: 12px 24px;
    background-color: #2e3192;
    color: white;
    border-radius: 5px;
    border: 1px solid #2e3192;

}
.page .page-content .btn-sm.sec-btn , 
.page .page-content .btn-sm.sec-btn:active ,
.page .page-content .btn-sm.sec-btn:focus{
    padding: 12px 24px;
    background-color: white;
    color:#2e3192;
    border-radius: 5px;
    border: 1px solid #2e3192;

}
.page .page-content .btn-sm:hover,
.page .page-content .btn-default:hover
{
    background-color: white;
    color: #2e3192;
    border: 1px solid #2e3192;
        box-shadow: 0 0.25rem 0.125rem 0 rgba(0,0,0,.05);
}

.page .page-content .btn-sm.sec-btn:hover{
    background-color:  #2e3192;
    color: white;
    border: 1px solid #2e3192;
        box-shadow: 0 0.25rem 0.125rem 0 rgba(0,0,0,.05);
}
.page .page-content .page-header-actions .btn-sm span{
    font-family: bold;
}

.media-body, .media-left, .media-right{
    vertical-align: bottom;
}
.page-header .breadcrumb{
    margin-top: 10px
}
@media (max-width: 990px) {
    .page .page-content  .page-header-actions{
        float: none !important;
        text-align: center;
        margin-top: 20px;
    }
}

@media (max-width: 500px) {
    .page .page-content {
            padding: 10px 20px
    }
    .page .page-content .panel-body{
        padding: 5px 10px !important;
    }
}

.companiesPage .panel-body .form-inline{
    float: right;
}
.companiesPage .stopSort span.footable-sort-indicator{
    display: none !important;
}

table thead th{
    color: #2e3192 !important;
    font-family: bold;
}
table tbody td.mainName a{
    font-family: bold;
    color: black;
    text-decoration: none;
    
}

table tbody td:hover{
   cursor: auto;
}
table tbody td a {
        color: #76838f;
        text-decoration: none !important;

}
table tbody td a:hover{
        cursor: pointer;
    color: #2e3192;
}
.footable-toggle{
    color: #2e3192;
}

.mainInfo{
    padding: 20px 10px;
        background-color: #2e3192;
}
.mainInfo .row ,.mainInfo .perMainInfo{
    margin: 8px 0px;
}

.mainInfo .perMainInfo i{
    font-size: 22px;
    margin-right: 20px;
    color:#686cff
}
.mainInfo .perMainInfo span{
        font-size: 14px;
    color: white

}



.formPage .page-content .panel{
     padding: 30px 20px;
}


.formPage .page-content .panel .actionBtn span {
    margin-left: 10px
}